<div>
  --<br/>
  清大Zu創意教學團隊<br/>
  <a href='https://www.facebook.com/zubat.edu.88/'>Facebook 粉絲專頁</a><br/>
  Line : @ebr1368g<br/>
  <div style='width:30px;'>
    <%= image_tag image_url %>
  </div>
</div>
