<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <%= @member.name %> 爸爸/媽媽 您好：<br/>
    歡迎加入清大 ZU 築優教育黃金會員！<br/>
    在這裡您能找到創造力相關培育課程以及程式教育訓練營資訊，歡迎您讓孩子們來與我們一同成長！<br/>
    更多的即時消息歡迎上我們的 Facebook 粉絲專業查看！<br/>
    <%= render partial: 'signature', locals: { image_url: attachments['logo.png'].url } %>
  </body>
</html>