<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @member.name %>，恭喜您成為我們的會員！</h1>
    <p>祝您有個愉快的一天。</p>
    <%= render partial: 'signature', locals: { image_url: attachments['logo.png'].url } %>
  </body>
</html>